.Lend_upper_data {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 20%;
  margin-top: 4%;
  font-weight: 400;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

.card-content-lend-s {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

tr:hover td {
  background-color: lightslategray;
}

table td,
table th {
  border: none;
  font-size: larger;
  display: flex;
  justify-content: stretch;
  padding-left: 20px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

th,
td {
  padding: 0px 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Responsive styles... */

/* Responsive styles */
@media (max-width: 768px) {
  .Lend_upper_data {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 2%;
  }

  td,
  th {
    padding: 0px 20px;
  }
}

@media (max-width: 480px) {
  .Lend_upper_data {
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    margin-top: 1%;
  }

  td,
  th {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1967px) {
  table td,
  table th {
    border: none;
    font-size: larger;
    display: flex;
    justify-content: stretch;
  }

  .card-content-lend-s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  table {
    flex-wrap: wrap;
  }
}
