.nav-color {
    background-color: black;
}
.body {
    background-color: antiquewhite !important;
}


  .custom-search-bar {
  width: 520px; /* Adjust the width to your desired value */
}

.changebutton {
color: gray;

}
.changebutton:hover {
    color: white;
    background-color: black;
}
.btnborder{
    outline: rgb(240, 240, 243);
    color: black;
    background-color: gray;
}

.custom-btn-1,
.custom-btn-2 {
    height: 50px;
  background-color: black; /* Set the background color */
  color: gray; /* Set the text color */
  border: 2px solid rgb(234, 234, 242); /* Set the outline border color and width */
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
}

.dotbtn {
    height: auto;
    background-color: black;
}

.dotbtn:hover {
   
 background-color: rgb(231, 229, 229);
 opacity: 10px;
 border-radius: 5px ;
 cursor: pointer;
 
}


/* ---------------- cards ------------- */

.carts {
   
    border-radius: 30px;
}
.cart_shadow {
    border-radius: 30px;
    box-shadow: 5px 5px 3px 2px white;
    outline: rgb(240, 240, 243);
    color: rgb(169, 163, 163);

}

.connect-btn {
    border-radius: 30px;
    box-shadow: 1px 1px 1px 2px white;
    outline: rgb(240, 240, 243);
    height: 50px;
    background-color: rgb(80, 57, 90); 
    color: gray; 
    border: 2px solid rgb(234, 234, 242); 
    border-radius: 10px; 
    padding: 10px 20px; 
}

.connect-btn:hover {
    background-color: rgb(41, 18, 50); 
    color: rgb(220, 205, 205); 

}